.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-hide {
    display: hide !important;
}

.d-grid{
    display: grid;
}
.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center{
    align-items: center;
}